<div id="wrapperbody">    
    <div class="hello">
        <div id="hh">
            <table cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="width: 100%;"></td>
                    <td style="padding-right: 5px;">
                        <span class="userName" />
                    </td>
                    <td style="width: 50px;">
                        <a data-localized="logout" href="javascript:void(0)" class="logout"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="leftHeader" class="head">        
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td style="width: 10%; text-align: center;">
                     <a href="#Home"><img alt="" style="width:100px" src="/css/images/logo.png" /></a>
                </td>
                <td style="padding-right: 5px; width: 90%;">
                    <span class="header-title-left">ContainerStar</span>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear: both">
        <ul class="menu">
            <li><a href="#Home" data-localized="Home"></a></li>
            <li><a href="#FreeContainers" data-localized="FreeContainers"></a></li>
            <li><a href="#Offers" data-localized="Offers"></a></li>
            <li><a href="#Orders" data-localized="Orders"></a></li>
            <li><a href="#Invoices" data-localized="Invoices"></a></li>
            <li><a href="#Settings" data-localized="Settings"></a></li>
        </ul>
    </div>
    <div id="page">
        <div id="page-bgtop" class="content" style="vertical-align: top; top: 0px; padding: 15px 0px 0px 0px; margin: 0px;">
        </div>
    </div>    
</div>
