<table cellpadding="0" cellspacing="0" style="width: 100%; vertical-align: top;">
    <tr>
        <td style="width: 900px; min-width:900px; text-align: center;">
            <div id='calendar'></div>
        </td>
        <td style="padding-left: 40px; width: 300px; vertical-align: top;">
            <br />
            <label data-localized="search"></label>
            <div class="editor-field" style="">
                <label data-localized="containerTypeId"></label>
                <select style="width: 518px" id="containerTypeId" name="containerTypeId" />
            </div>
            <div class="editor-field" style="">
                <label data-localized="name"></label>
                <input type="text" class="k-textbox" style="width: 518px" id="name" name="name" />
            </div>
            <div class="editor-field" style="">
                <label data-localized="equipments"></label>
                <select class="equipments" id="equipments" name="equipments" multiple data-role="selectbox" />
            </div>
            <br />
            <div style="">
                <button class="k-primary k-button apply" type="submit" data-localized="apply"></button>
                <button class="k-button cancel" type="reset" data-localized="cancel"></button>
            </div>
        </td>
        <td style="width: 100%; text-align: center;">
            
        </td>
    </tr>
</table>