<form method="post">
    <span class="summary k-widget k-tooltip k-tooltip-validation" style="display:none;" />
    <table class="login-table">
        <tr>
            <td>
                <label for="login" data-localized="login"></label>
            </td>
            <td>
                <input type="text" id="login" name="login" class="k-textbox">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password" data-localized="password"></label>
            </td>
            <td>
                <input type="password" id="password" name="password" class="k-textbox">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="rememberMe"  name="rememberMe">
                <label data-localized="rememberMe" for="rememberMe"></label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="k-button login" data-localized="logon"></button>
            </td>
        </tr>
    </table>
</form>