
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
ContainerStar/ContainerStar.v12.suo
ContainerStar/ContainerStar.v12.suo
ContainerStar/CoreBase/CoreBase/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/CoreBase/CoreBase/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
