ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar.API.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar.API.dll.config
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar.API.pdb
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar.Lib.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/ContainerStar.Lib.pdb
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/CoreBase.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/CoreBase.pdb
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/EntityFramework.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/EntityFramework.SqlServer.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/EntityFramework.SqlServer.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/FluentValidationNA.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/FluentValidationNA.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.AspNet.SignalR.Core.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.AspNet.SignalR.SystemWeb.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.AspNet.SignalR.SystemWeb.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Owin.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Owin.Security.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Owin.Security.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Owin.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.ServiceLocation.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.ServiceLocation.pdb
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.ServiceLocation.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.Unity.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.Unity.Mvc.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.Unity.Mvc.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Microsoft.Practices.Unity.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Newtonsoft.Json.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Newtonsoft.Json.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/Owin.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Linq.Dynamic.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Linq.Dynamic.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Net.Http.Formatting.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Net.Http.Formatting.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Http.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Http.WebHost.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Http.WebHost.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Http.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Mvc.dll
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/System.Web.Mvc.xml
ContainerStar/ContainerStar/ContainerStar.API/bin/x64/Debug/WindowsBase.dll
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/ContainerStar.API.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/ContainerStar.API.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/ContainerStar.API.dll
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/ContainerStar.API.pdb
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TempPE/Controllers.Settings.CollectionTypes.txt.dll
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TempPE/Controllers.Settings.Controllers.txt.dll
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TempPE/Controllers.Settings.ViewCollectionFactory.txt.dll
ContainerStar/ContainerStar/ContainerStar.API/obj/x64/Debug/TempPE/Models.Settings.Models.txt.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar.Configuration.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar.Configuration.pdb
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar.Lib.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/ContainerStar.Lib.pdb
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/CoreBase.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/CoreBase.pdb
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/EntityFramework.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/EntityFramework.SqlServer.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/EntityFramework.SqlServer.xml
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/Microsoft.Practices.Unity.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/Microsoft.Practices.Unity.Mvc.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/Microsoft.Practices.Unity.Mvc.xml
ContainerStar/ContainerStar/ContainerStar.Configuration/bin/x64/Debug/Microsoft.Practices.Unity.xml
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/ContainerStar.Configuration.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/ContainerStar.Configuration.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/ContainerStar.Configuration.dll
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/ContainerStar.Configuration.pdb
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/ContainerStar.Configuration/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/EntityFramework.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/Newtonsoft.Json.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/System.Web.Http.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/System.Web.Http.WebHost.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/System.Web.Http.WebHost.xml
ContainerStar/ContainerStar/ContainerStar.Contracts/bin/x64/Debug/System.Web.Http.xml
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/ContainerStar.Contracts.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/ContainerStar.Contracts.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TempPE/Entities.Entities.txt.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TempPE/Enums.Permissions.cs.dll
ContainerStar/ContainerStar/ContainerStar.Contracts/obj/x64/Debug/TempPE/Managers.IManagers.txt.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/ContainerStar.Lib.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/ContainerStar.Lib.pdb
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/CoreBase.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/CoreBase.pdb
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/EntityFramework.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/EntityFramework.SqlServer.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/EntityFramework.SqlServer.xml
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/ICSharpCode.SharpZipLib.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/NPOI.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/NPOI.OOXML.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/NPOI.OpenXml4Net.dll
ContainerStar/ContainerStar/ContainerStar.Lib/bin/x64/Debug/NPOI.OpenXmlFormats.dll
ContainerStar/ContainerStar/ContainerStar.Lib/Managers/CalculationHelper.cs
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/ContainerStar.Lib.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/ContainerStar.Lib.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/ContainerStar.Lib.dll
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/ContainerStar.Lib.pdb
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TempPE/Data.ContainerStar.EntityMapping.txt.dll
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TempPE/DuplicateCheckers.DuplicateChecker.txt.dll
ContainerStar/ContainerStar/ContainerStar.Lib/obj/x64/Debug/TempPE/Managers.Managers.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar..Contracts.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar..Contracts.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.API.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.API.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.Configuration.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.Configuration.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.Lib.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStar.Lib.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStarWeb.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStarWeb.dll.config
ContainerStar/ContainerStar/ContainerStarWeb/bin/ContainerStarWeb.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/CoreBase.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/CoreBase.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/EntityFramework.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/EntityFramework.SqlServer.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/EntityFramework.SqlServer.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/FluentValidationNA.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/FluentValidationNA.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.AspNet.SignalR.Core.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.AspNet.SignalR.SystemWeb.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.AspNet.SignalR.SystemWeb.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.Host.SystemWeb.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.Host.SystemWeb.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.Security.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.Security.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Owin.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.ServiceLocation.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.ServiceLocation.pdb
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.ServiceLocation.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.Configuration.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.Configuration.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.Mvc.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.Mvc.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Microsoft.Practices.Unity.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Newtonsoft.Json.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/Newtonsoft.Json.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Owin.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Linq.Dynamic.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Linq.Dynamic.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Net.Http.Formatting.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Net.Http.Formatting.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Http.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Http.WebHost.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Http.WebHost.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Http.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Mvc.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Mvc.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Razor.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.Razor.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.Deployment.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.Deployment.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.Razor.dll
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.Razor.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/System.Web.WebPages.xml
ContainerStar/ContainerStar/ContainerStarWeb/bin/Unity.WebApi.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/ContainerStarWeb.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/ContainerStarWeb.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/ContainerStarWeb.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/ContainerStarWeb.pdb
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.collections.Settings.web.collections.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.models.Settings.web.models.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.resources.Settings.web.add.resources.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.resources.Settings.web.filter.resources.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.resources.Settings.web.menu.resources.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.resources.Settings.web.relationships.resources.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.resources.Settings.web.resources.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.templates.Settings.web.add.templates.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.templates.Settings.web.menu.template.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.templates.Settings.web.relationships.templates.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.templates.Settings.web.templates.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.views.Settings.web.add.views.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.views.Settings.web.related.views.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.views.Settings.web.relationships.views.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.views.Settings.web.views.txt.dll
ContainerStar/ContainerStar/ContainerStarWeb/obj/x64/Debug/TempPE/web.web.router.template.txt.dll
ContainerStar/ContainerStar/Generation/bin/ContainerStar.Generation.dll
ContainerStar/ContainerStar/Generation/bin/ContainerStar.Generation.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.Contracts.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.Contracts.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.EntityFramework.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.EntityFramework.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.Contracts.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.Contracts.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.EntityFramework.dll
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.EntityFramework.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.MSSQL.pdb
ContainerStar/ContainerStar/Generation/bin/MetadataLoader.pdb
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/ContainerStar.Generation.csproj.user
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/ContainerStar.Generation.csproj.FileListAbsolute.txt
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/ContainerStar.Generation.csprojResolveAssemblyReference.cache
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/ContainerStar.Generation.dll
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/ContainerStar.Generation.pdb
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContainerStar/ContainerStar/Generation/ContainerStar.Generation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContainerStar/CoreBase/CoreBase/bin/x64/Debug/CoreBase.dll
ContainerStar/CoreBase/CoreBase/bin/x64/Debug/CoreBase.pdb
ContainerStar/CoreBase/CoreBase/obj/x64/Debug/CoreBase.csprojResolveAssemblyReference.cache
ContainerStar/CoreBase/CoreBase/obj/x64/Debug/CoreBase.dll
ContainerStar/CoreBase/CoreBase/obj/x64/Debug/CoreBase.pdb
Docs/.gitignore

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
