<div class="simple">
    <a class="toggle" href="javascript:void(0)" data-localized="searchTitle"></a>
</div>
<div class="advanced" style="display: block;">
    <form>
        <div>
            <div class="editor-field" style="float: left;">
                <label data-localized="fromDate"></label>
                <input type="text" id="fromDate" name="fromDate" data-role="datepicker" required="required" />
                <div style="float: none;">
                    <span class="k-invalid-msg" data-for="fromDate"></span>
                </div>
            </div>
            <div class="editor-field" style="padding-left: 20px;">
                <label data-localized="toDate"></label>
                <input type="text" id="toDate" name="toDate" data-role="datepicker" required="required" />
                <div style="float: none;">
                    <span class="k-invalid-msg" data-for="toDate"></span>
                </div>
            </div>
            <div class="editor-field" style="padding-left: 20px;">
                <label data-localized="containerTypeId"></label>
                <select style="width: 362px" id="containerTypeId" name="containerTypeId" />
            </div>
        </div>
        <div style="float: none;">
            <button class="k-primary k-button" type="submit" data-localized="apply"></button>
            <button class="k-button" type="reset" data-localized="cancel"></button>
        </div>
    </form>
</div>
<br/>
