<div class="simple">
    <a class="toggle" href="javascript:void(0)" data-localized="searchTitle"></a>
</div>
<div class="advanced">
    <form>
        <div class="editor-field">
            <label data-localized="fromDate"></label>
            <input type="text" id="fromDate" name="fromDate" data-role="datepicker" /> 
            <label data-localized="toDate"></label>
            <input type="text" id="toDate" name="toDate" data-role="datepicker" />
            <br />
            <span class="k-invalid-msg" data-for="fromDate"></span>
            <span class="k-invalid-msg" data-for="toDate"></span>
            <br />
            <label for="name" data-localized="name"></label>
            <input id="name" name="name" type="text" class="k-textbox" style="width: 483px" />
        </div>
        <button class="k-primary k-button" type="submit" data-localized="apply"></button>
        <button class="k-button" type="reset" data-localized="cancel"></button>
    </form>
</div>
