
/**/ html, body, #wrapper, wrapperbody {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #428bca;
}

	body > #wrapper {
		height: 100%;
		width: 100%;
	}

body {
	margin: 0;
	padding: 0;
	font-size: 90%;
	font-family: Verdana,sans-serif;
	color: #66665E;
}

#wrapperbody {
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    margin-left: 30px;
	margin-right: 30px;
	padding: 10px;
	border-radius: 7px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


h1, h2, h3 {
	margin: 0;
	font: 20px/118% normal Verdana,Tahoma,sans-serif;
	font-weight: normal;
	color: #f35800;
}

h1 {
	font-size: 44px;
}

h2 {
	padding-bottom: 15px;
}

h3 {
}

a {
	color: #428bca;
}

	a:hover {
		text-decoration: none;
	}

	a img {
		border: none;
	}

/* Menu */

#menu li.last {
	border: none;
}

.hello {
	height: 25px;
	padding-bottom: 5px;
}

#hh {
	text-align: right;
	padding: 6px 0px 0px 0px;
	color: black;
	display: block;
	height: 25px;
	position: relative;
	z-index: 100;
}

	#hh p {
		float: left;
		display: block;
	}

	#hh a {
		color: black;
	}
    
#page {
	background-color: #ffffff;
}

#page-bgtop {
	padding-top: 30px;
}

#footer {
	height: 20px;
	margin: 0 auto;
	padding-top: 10px;
}

#footer-bgcontent {
	clear: both;
	position: relative;
	height: 3em;
	margin-top: -30px;
	height: 30px;
	background: #f5f5f5;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
}

#footer a {
	color: #E5FFC4;
}

div.editor-field {
	padding: 3px 0 8px;
}

div.editor-label {
	padding: 3px 0;
}


div.editor-field textarea {
	/*width: 600px;
	height: 100px;*/
}

div.editor-field #equipments > .k-dropdown,
div.editor-field #identificationDocument > .k-dropdown {
	width: 600px;
}

div.editor-field > input[type=text],
div.editor-field > input[type=password],
div.editor-field > input[type=date],
div.editor-field > input[type=email],
div.editor-field > .k-multiselect,
div.editor-field > .k-combobox,
div.editor-field > .k-dropdown {
   width: 518px;
}

div.inline-block {
	display: inline-block;
	vertical-align: top;
}

div.editor-field .k-invalid-msg {
	margin-top: 4px;
}

div.editor-field input[type="text"]:focus {
}

.add-model .k-button {
	width: 48%;
	max-width: 7em;
}

.k-menu li.selected {
	font-weight: bold;
}

table.settings {
	width: 100%;
}

	table.settings td {
		width: 50%;
		vertical-align: text-top;
	}

	table.settings ul {
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

		table.settings ul li {
			padding-top: 10px;
		}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.k-grid-toolbar .k-update {
	background-position: -48px -32px;
}

.k-grid-toolbar .k-cancel {
	background-position: -48px -48px;
}

.login-table td {
	vertical-align: baseline;
}

.login-table .k-invalid-msg {
	margin-top: 4px;
}

.k-list {
	text-align: left;
}

.k-grid .k-combobox.selectBox .k-input {
	margin-left: -0.33em;
	padding-top: 0.2em;
}

.k-combobox.selectBox .k-input {
	margin-left: -0.35em;
}


td.change-password {
	width: 2em;
	white-space: nowrap;
	text-align: center;
}

td.commands {
	width: 3em;
	white-space: nowrap;
	text-align: center;
}

	td.commands > span {
		cursor: pointer;
	}

td.multi {
	width: 300px;
}

td.multi > span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	max-width: 300px;
}

.k-grid .k-tooltip-validation .k-callout-n {
	left: auto;
}

.k-grid .k-tooltip-validation:hover {
	z-index: 10000;
}

.k-grid-edit-row > td > .k-colorpicker {
	width: auto;
}

.k-grid .color-box {
	height: 30px;
	width: 30px;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
}

.k-flatcolorpicker .k-controls .k-button {
	width: 7em;
}

.k-tooltip {
	text-align: left;
}

.logo {	
	top: 0px;	
	height: 140px;
}

.header-title-left,
.header-title-right,
.header-title-small {
	font: 30px normal Verdana,Tahoma,sans-serif;
	color: #358880;
	text-align: left;
	width: 800px;
	padding-left: 15px;
	line-height: 40px;	
	top: 20px;
}

.header-title-right {
	text-align: right;
}

.header-title-small {
	font-size: 18px;
}

span.question {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #e9e9e9;
	line-height: 16px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	position: relative;
}

span.question:hover {
	background-color: #bcb4b0;
}

div.certificates table thead tr:first-child th {
	text-align: center;
}

div.certificates table tbody tr:hover,
div.candidates table tbody tr:hover,
div.questions table tbody tr:hover {
	background-color: #bcb4b0;
	cursor: pointer;
	background-image: none, linear-gradient(to bottom, rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%);
}

.k-tabstrip {
	background-color: transparent;
	border: none;
}

	.k-tabstrip > .k-tabstrip-items {
		padding: 0;
	}

.k-tabstrip-items .k-item {
	background-color: white;
}

	.k-tabstrip-items .k-item.k-state-default {
		border-color: transparent;
	}

	.k-tabstrip-items .k-item.k-state-disabled {
		border-color: transparent;
	}

	.k-tabstrip-items .k-item.k-state-active {
		border-color: #c5c5c5;
		margin-bottom: -1px;
		padding-bottom: 1px;
	}

	.k-tabstrip-items .k-item.k-state-hover {
		border-color: #ebebeb;
		background: #ebebeb;
	}

.k-tabstrip-items .k-state-default .k-link {
	color: #428bca;
}

.k-tabstrip-items .k-state-disabled .k-link {
	color: #428bca;
}

.k-tabstrip-items .k-state-active .k-link {
	color: inherit;
}

.k-tabstrip > .k-content {
	border-color: #c5c5c5;
	margin: 0;
}

.k-multiselect {
	vertical-align: middle;
	display: inline-block;
}

.k-multiselect li {
    text-align: left;
}

.k-multiselect .k-delete {
	padding-bottom: 3px;
}

.k-multiselect .k-input {
	padding-top: 0.4em;
	font-size: 100%;
}

	.k-multiselect .k-input.k-readonly {
		color: #A9A9A9;
	}

span.select-message {
	margin-left: 3px;
	vertical-align: middle;
	display: none;
}

.k-window .k-dropzone {
	padding-left: 0.7em;
}

.k-upload-status .k-button,
.k-upload-files .k-warning {
	vertical-align: middle;
}

.k-file-error {
	color: #f35800;
}

	.k-file-error .k-progress {
		background-color: #fff4c9;
	}

.k-upload-empty .k-dropzone {
	padding: 0;
}

.k-upload {
	display: inline-block;
}

.k-progress + .k-icon,
.k-filename {
	cursor: pointer;
}

.filter .simple {
	text-align: right;
	padding: 0.58em;
}

	.filter .simple a {
		text-decoration: none;
	}

.filter .advanced {
	display: none;
	padding: 0.58em;
	border: solid 1px #c5c5c5;
	margin-bottom: 0.58em;
}

.hidden {
	display: none;
}

.breadcrumbs {
	padding-bottom: 10px;
	display: inline-block;
}


div.exam-classes table tbody tr:not(.k-detail-row):hover {
	
	/*cursor: pointer;*/
    background-color: #bcb4b0;
	background-image: none, linear-gradient(to bottom, rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%);
}

div.exam-classes label:hover {
	
	cursor: pointer;
}

a.gotoObjectDetail label {

    cursor: pointer;
}