<span class="selectBox k-widget k-combobox k-header">
    <span class="k-dropdown-wrap k-state-default">
        <input class="k-input" type="text" autocomplete="off" onkeydown="return false;" style="width: 100%; display: inline-block;">
        <span class="k-select unselectable">
            <span class="k-icon k-i-arrow-s unselectable">select</span>
        </span>
    </span>
</span>

<div id="<%= id %>_popup" class="popup-container">
    <div class="popup" data-role="popup">
        <ul></ul>
        <div>
            <a href=" javascript:void(0)" class="k-primary k-button"><%= okText %></a>
            <a href=" javascript:void(0)" class="k-button"><%= cancelText %></a>
        </div>
    </div>
</div>