<#@ template language="C#" debug="true" hostspecific="true" linePragmas="true"#>
<#@ output extension=".txt"#>
<#@ include file="..\..\Generation\ContainerStar.Generation\TTMasterData\ContainerStar.Settings.ttinclude" once="true"#>
<# 
    const string filesDir = @"..\..\Generation\ContainerStar.Generation\Declarations\";
	defaultNamespace = "ContainerStar.Contracts.Entities";
#>
<#@ include file="..\..\Generation\ContainerStar.Generation\TTMasterData\ContainerStar.GenerationContext.ttinclude" once="true"#>
<#@ include file="..\..\Generation\ContainerStar.Generation\TTCommon\Entities.ttinclude"  once="true"#>
