<% var title = typeof id !== 'undefined' ? '<label data-localized="edit"></label>' : '<label data-localized="add"></label>'; %>

<span class="breadcrumbs"><a href="#Settings" data-localized="masterData"></a> / 
	<a href="#Taxes" data-localized="pageTitle"></a> / <%= title %></span>

<form method="post" class="add-model">
    <table style="width: 100%; vertical-align: top; padding: 0px; margin: 0px; white-space: nowrap;" cellpadding="0" cellspacing="0">
		<tr>
			<td style="padding-right: 25px; vertical-align: top; ">
				<div class="editor-label">
					<label for="value" data-localized="value"></label>
				</div>
				<div class="editor-field">
					<input type="text" data-role="floattextbox" id="value" name="value" />
				</div> 
				<div class="editor-label">
					<label for="fromDate" data-localized="fromDate"></label>
				</div>
				<div class="editor-field">
					<input type="text" data-role="datepicker" id="fromDate" name="fromDate" />
				</div> 
				<div class="editor-label">
					<label for="toDate" data-localized="toDate"></label>
				</div>
				<div class="editor-field">
					<input type="text" data-role="datepicker" id="toDate" name="toDate" />
				</div> 
			</td>
			<td style="width: 100%;">&nbsp;</td>
		</tr>
	</table>
	<div class="inline-block">        
    </div>      

    <br />
    <br />

    <div class="relations-container">
    </div>

    <br />

    <div>
        <button class="k-primary k-button save" data-localized="save"></button>
        <button class="k-button remove" data-localized="delete"></button>
        <button class="k-button cancel" data-localized="cancel"></button>
    </div>
</form>
