<form method="post" class="add-model">
    <div class="editor-label">
        <label for="password" id="passwordTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <input type="password" id="password" name="password" class="k-textbox">
    </div>
    <div class="editor-label">
        <label for="passwordConfirmation" id="passwordConfirmationTitle" autocomplete="off"></label>
    </div>
    <div class="editor-field">
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="k-textbox">
    </div>   
    <button class="k-primary k-button" id="change" type="submit"></button>
    <button class="k-button" id="cancel" type="reset"></button>
</form>