<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li data-permission="Equipments">
                    <a href="#Equipments" data-localized="Equipments"></a>
                </li>
                <li data-permission="AdditionalCosts">
                    <a href="#AdditionalCosts" data-localized="AdditionalCosts"></a>
                </li>
                <li data-permission="Taxes">
                    <a href="#Taxes" data-localized="Taxes"></a>
                </li>
                <li data-permission="TransportProducts">
                    <a href="#TransportProducts" data-localized="TransportProducts"></a>
                </li>
                <li data-permission="Customers">
                    <a href="#Customers" data-localized="Customers"></a>
                </li>
                <li data-permission="ContainerTypes">
                    <a href="#ContainerTypes" data-localized="ContainerTypes"></a>
                </li>
                <li data-permission="Containers">
                    <a href="#Containers" data-localized="Containers"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
